<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042529430711-ukh8qoftj4s0kssomttdlchm7f05tlpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042529430711-ukh8qoftj4s0kssomttdlchm7f05tlpi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1042529430711-7du6v01kt4nc07ldsou0hdardtomogir.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAECYxo0ZAzph7zJVHM6DOHcmxN_Fc0Wg0</string>
	<key>GCM_SENDER_ID</key>
	<string>1042529430711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ekvi</string>
	<key>PROJECT_ID</key>
	<string>ekvi-28c70</string>
	<key>STORAGE_BUCKET</key>
	<string>ekvi-28c70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042529430711:ios:e667d25c8d20c270acf132</string>
</dict>
</plist>